body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d2a158;
}

.container {
  margin: 50px auto;
  text-align: center;
  background-color: #fde6c4;
  max-width: 600px;
  padding: 20px 50px;
  border-radius: 10px;
}

.links {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

img {
  height: 350px;
}

a {
  text-decoration: none;
  color: #0ca8b9;
}

a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #ffffff;
  padding: 10px;
}
